<div>
  <div class="row">
    <div class="col-lg-12 text-center">
      <h1 class="title">Hashtag Statistics</h1>
    </div>
    <div class="col-lg-12 form-group">
      <table class="table">
        <thead>
          <th>Rank</th>
          <th>Hashtag</th>
          <th>Times used by User</th>
          <th>Times used by Global</th>
        </thead>
        <tbody>
         <% for i in @hashtags %>
          <tr>
            <td><%=@hashtags.index(i)+1%></td>
            <td>#<%=i.hashtags%></td>
            <td><%=i.use_by_user%></td>
            <td><%=i.use_by_global%></td>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </div>
</div>
