<div class="container text-center">
    <div>
      <h2 class="title">Enter a Certain Percentage</h2>
    </div>
    <div>
        <%= form_tag('/percent', :method => :get) do %>
          <div class="form-group" >
            <%= text_field_tag :percent, nil, placeholder: 'Enter a percentage...', class: "col-lg-4" %>
            <%= hidden_field_tag 'id', @id %>
          </div>
          <div class="text-center">
            <%= submit_tag "Submit", class: "btn btn-info", :id => "10" %>
          </div>
          <% end %>
    </div>
</div>